<div class="container"><br>
  <div class="row">
    <div class="col-6 col-sm-4"></div>
    <div class="col-6 col-sm-4">
      <div class="card text-center" style="width: 25rem;">
        <img class="card-img-top" src="assets/images/AvtarNew.png" alt="Card image cap" height="140px"
             width="140px"
             class="img-rounded" class="rounded mx-auto d-block">
        <div class="card-body">
          <form>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-user fa-1x"></i>
                      </span>
              </div>
              <input
                type="email"
                class="form-control py-2"
                id="exampleInputEmail1"
                placeholder="Enter your email address"
                required
              />
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-lock fa-1x"></i>
                      </span>
              </div>
              <input
                type="password"
                class="form-control py-2"
                id="exampleInputPassword"
                placeholder="Enter your password"
                required
              />
            </div>
            <p class="float-right mt-2">
              <a href="#" target="_blank" style="color: #00b0ff;"
              >Forgot Password?</a
              >
            </p>
            <br />
            <button
              type="submit"
              class="btn btn-block"
              style="background-color: #00b0ff; color: #fff;"
              onclick="location.href='/index'"
            >
              Log in</button
            ><br />

            <p class="float-right mt-2">
              New User ?<a routerLink="/register" style="color: #00b0ff;">
              Create Account</a
            >
            </p>
            <br />
          </form>

        </div>
      </div>
    </div>
    <div class="col-6 col-sm-4">
    </div>
  </div>
</div>

